<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="index.html">
                <i class="icon-dashboard"></i>
                <span>主页</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-laptop"></i>
                <span>权限管理</span>
            </a>
            <ul class="sub">
                <li><a  href="../Role/rolelist.html">角色管理</a></li>
                <li><a  href="../Menu/menulist.html">菜单管理</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-book"></i>
                <span>项目管理</span>
            </a>
            <ul class="sub">
                <li><a  href="../Project/projectlist.html">项目管理</a></li>
                <li><a  href="buttons.html">配置菜单</a></li>
            </ul>
        </li>

        <!--multi level menu end-->

    </ul>
    <!-- sidebar menu end-->
</div>