<link rel="stylesheet" type="text/css" href="__PUBLIC__/Content/css/zTreeStyle.css">
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    左侧菜单列表
                              <span class="tools pull-right">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                </header>
                <div class="panel-body zTreeDemoBackground left dd">
                        <ol id="treeDemo" class="ztree dd-list"></ol>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="menuUpdate" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增菜单</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">名  称</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="menuname" placeholder="角色名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">描  述</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" id="menuremark" cols="60" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关  闭</button>
                <button type="button" class="btn btn-info" id="savemenu"><i class="icon-save"></i> 保  存</button>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery.ztree.all-3.5.min.js"></script>
<SCRIPT type="text/javascript" >

    <!--
    var setting = {
        view:{
            showLine : false,
            showIcon:false,
            addHoverDom:addHoverDom,
            removeHoverDom:removeHoverDom,
            txtSelectedEnable: false
        },
        edit:{
            enable:true
        },
        callback:{
            beforeEditName:beforeEditName,

        },
        data: {
            simpleData: {
                enable: true
            }
        }

    };

    var menuModel={};
    var parentNode={};

    function removeHoverDom(treeId,treeNode){
        $("#addBtn_"+treeNode.tId).unbind().remove();
    }

    var count=100;

    function cleardialog(){
        $("#menuname").val("");
        $("#menuremark").val("");
    }

    function addHoverDom(treeId, treeNode) {
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
        var addStr = "<button class='btn bg-success btn-xs line12' style='margin-left: 10px' id='addBtn_" + treeNode.tId + "' " +
                " onfocus='this.blur();'><i class='icon-plus'></i>新 增</button>";
        sObj.after(addStr);
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            menuModel.pId=treeNode.id;
            parentNode={};
            parentNode=treeNode;
            menuModel.isAdd=true;
            cleardialog();
            $('#menuUpdate').modal({
                backdrop: 'static'
            })
            $("#menuUpdate").modal('show');
            return false;
        });
    };

    $(document).ready(function(){
        $.ajax({
            type:"GET",
            dataType:'json',
            url:"./searchlist",
            success:function(data){
                $.fn.zTree.init($("#treeDemo"), setting, data);
            }
        });
    });

    function beforeEditName(treeid,treenode){
        cleardialog();
        $('#menuUpdate').modal({
            backdrop: 'static'
        })
        $("#menuUpdate").modal('show');
        menuModel.updateTreeNode=treenode;
        $("#menuname").val(treenode.name);
        $("#menuremark").val(treenode.remark);
        return false;
    }

    $("#savemenu").click(function(){
        if(menuModel.isAdd) {
            menuModel.name = $("#menuname").val();
            menuModel.remark = $("#menuremark").val();
            $.ajax({
                type: 'POST',
                dataType:'json',
                url: "__APP__/Home/Menu/AddMenu",
                data: menuModel,
                success:function(data){
                    menuModel.id=data.id;
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.addNodes(parentNode, menuModel);
                    menuModel = {};
                }
            });

        }else{
            menuModel.updateTreeNode.name=$("#menuname").val();
            menuModel.updateTreeNode.remark=$("#menuremark").val();
            var m={};
            m._id=menuModel.updateTreeNode._id;
            m.id=menuModel.updateTreeNode.id;
            m.pId=menuModel.updateTreeNode.pId;
            m.name=menuModel.updateTreeNode.name;
            m.remark=menuModel.updateTreeNode.remark;
            $.ajax({
                type: 'POST',
                dataType:'json',
                url: "__APP__/Home/Menu/UpdateMenu",
                data: m,
                success:function(data){
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.refresh();
                    menuModel = {};
                }
            });
        }
        $("#menuUpdate").modal('hide');
    });

    //-->
</SCRIPT>