<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <label class="panel-title">查询条件</label>
                </header>
                <div class="row panel-body ">
                    <div class="form-horizontal col-lg-6">
                        <label class="col-lg-2 col-sm-2 control-label">名  称</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control col-sm-6" style="width:50% !important" id="searchname" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <button type="button" class="btn btn-primary "><i class=" icon-search"></i>查  找</button>
                        &nbsp;&nbsp;<button type="button" data-backdrop="static" data-toggle="modal" data-target="#myModal" class="btn btn-success "><i class=" icon-plus"></i> 新 增</button>
                        &nbsp;&nbsp;<button type="button" class="btn btn-danger "><i class=" icon-remove"></i> 删 除</button>
                        &nbsp;&nbsp;<button type="button" class="btn btn-info "><i class=" icon-user"></i> 设置人员</button>
                        &nbsp;&nbsp;<button type="button" class="btn btn-warning "><i class="icon-list"></i> 设置菜单</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    角色列表
                </header>
                <div class="panel-body">
                    <section id="no-more-tables">
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                            <tr>
                                <th class="text-center paddingNone" width="20px">
                                    <label>
                                        <input type="checkbox" value="">
                                    </label>
                                </th>
                                <th>Code</th>
                                <th>Company</th>
                                <th class="numeric">Price</th>
                                <th class="numeric">Change</th>
                                <th class="numeric">Change %</th>
                                <th class="numeric">Open</th>
                                <th class="numeric">High</th>
                                <th class="numeric">Low</th>
                                <th class="numeric">Volume</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center paddingNone" width="20px">
                                    <label>
                                        <input type="checkbox" value="">
                                    </label>
                                </td>
                                <td data-title="Code">AAC</td>
                                <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                                <td class="numeric" data-title="Price">$1.38</td>
                                <td class="numeric" data-title="Change">-0.01</td>
                                <td class="numeric" data-title="Change %">-0.36%</td>
                                <td class="numeric" data-title="Open">$1.39</td>
                                <td class="numeric" data-title="High">$1.39</td>
                                <td class="numeric" data-title="Low">$1.38</td>
                                <td class="numeric" data-title="Volume">9,395</td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增角色</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">名称</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="rolename" placeholder="角色名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">角色描述</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" cols="60" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关  闭</button>
                <button type="button" class="btn btn-info"><i class="icon-save"></i> 保  存</button>
            </div>
        </div>
    </div>
</div>

