<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <label class="panel-title">查询条件</label>
                </header>
                <div class="panel-body form-horizontal">
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label class="col-lg-3 control-label text-right">名  称</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="searchProjectName"></select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="col-lg-3 control-label text-right">开始时间</label>
                            <div class="col-lg-9">
                                <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label class="col-lg-3 control-label text-right">结束时间</label>
                            <div class="col-lg-9">
                                <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right mt15">
                            <button type="button" class="btn btn-primary " id="find" ><i class=" icon-search"></i>查  找</button>
                            <button type="button" data-backdrop="static" data-toggle="modal" data-target="#myModal" class="btn btn-success "><i class=" icon-plus"></i> 新 增</button>
                            <button type="button" class="btn btn-danger "><i class=" icon-remove"></i> 删 除</button>
                            <button type="button" class="btn btn-info "><i class=" icon-user"></i> 设置人员</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    项目列表
                </header>
                <div class="panel-body">
                    <section id="no-more-tables">
                        <table  class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                            <tr>
                                <th class="text-center"  width="20px">
                                    <input type="checkbox" style="margin-top: 0px" value="">
                                </th>
                                <th class="hidden">id</th>
                                <th class="text-center">项目名称</th>
                                <th class="text-center">开始时间</th>
                                <th class="text-center">结束时间</th>
                            </tr>
                            </thead>
                            <tbody id="scrumtable">
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增项目</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">项目名称</label>
                    <div class="col-lg-10">
                        <!--<input type="text" class="form-control" id="rolename" placeholder="项目名称">-->
                        <select class="form-control" id="projectName">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">开始时间</label>
                    <div class="col-lg-10">
                        <input id="startDate" class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">结束时间</label>
                    <div class="col-lg-10">
                        <input id="endDate" class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关  闭</button>
                <button type="button" class="btn btn-info" id="submit"><i class="icon-save"></i> 保  存</button>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/js/jquery.tmpl.min.js" type="text/javascript"></script>
<script type="text/html" id="grid">
    <tr>
        <td class="text-center" width="20px">
            <input type="checkbox" style="margin-top: 0px" value="">
        </td>
        <td class="hidden">${id}</td>
        <td>${projectName}</td>
        <td>${startDate}</td>
        <td>${endDate}</td>
    </tr>
</script>
<script type="text/javascript">
    var model={};

    $(document).ready(function(){
        $.ajax({
            type:'POST',
            dataType:'json',
            url:'__APP__/Home/Dropdown/ProjectList',
            success:function(data){
                $("#projectName").html("");
                var option="<option value=''>--请选择--</option>";
                $.each(data,function(i,v){
                    option+="<option value="+v.key+">"+v.value+"</option>"
                });
                $("#projectName").append(option);
                $("#searchProjectName").append(option);
            }
        });
    });

    $("#submit").click(function(){
        model.projectId=$("#projectName").val();
        model.startDate=$("#startDate").val();
        model.endDate=$("#endDate").val();
        model.projectName=$("#projectName").find("option:selected").text();
        $.ajax({
            type: 'POST',
            dataType:'json',
            url: "__APP__/Home/Project/AddScrum",
            data: model,
            success:function(data){
                model={};
                $("#myModal").modal("hide");
            }

        });
    });
    $("#find").click(function(){
        var searchModel={};
        searchModel.name=$("#searchname").val();
        $.ajax({
            type:"GET",
            dataType:'json',
            //data:searchModel,
            url:"./SearchScrum",
            success:function(data){
                $("#scrumtable").html("");
                $('#grid').tmpl(data).appendTo('#scrumtable');
            }
        });
    });
</script>

