<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <label class="panel-title">查询条件</label>
                </header>
                    <div class="row panel-body ">
                        <div class="form-horizontal col-lg-6">
                            <label class="col-lg-2 col-sm-2 control-label">名  称</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control col-sm-6" style="width:50% !important" id="searchname" placeholder="角色名称">
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <button type="button" id="find" class="btn btn-primary "><i class=" icon-search"></i>查  找</button>
                            &nbsp;&nbsp;<button type="button" data-backdrop="static" data-toggle="modal" data-target="#myModal" class="btn btn-success "><i class=" icon-plus"></i> 新 增</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-danger "><i class=" icon-remove"></i> 删 除</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-info "><i class=" icon-user"></i> 设置人员</button>
                            &nbsp;&nbsp;<button type="button" class="btn btn-warning "><i class="icon-list"></i> 设置菜单</button>
                        </div>
                     </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    角色列表
                </header>
                <div class="panel-body">
                    <section id="no-more-tables">
                        <table  class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                            <tr>
                                <th class="text-center paddingNone" width="20px">
                                    <label>
                                        <input type="checkbox" value="">
                                    </label>
                                </th>
                                <th class="hidden">id</th>
                                <th class="text-center">角色名称</th>
                                <th class="text-center">角色描述</th>
                            </tr>
                            </thead>
                            <tbody id="roletable">
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增角色</h4>
            </div>
            <div class="modal-body form-horizontal">
               <div class="form-group">
                   <label class="col-lg-2 col-sm-2 control-label">名称</label>
                   <div class="col-lg-10">
                       <input type="text" class="form-control" id="rolename" placeholder="角色名称">
                   </div>
               </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">角色描述</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" id="describe" cols="60" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关  闭</button>
                <button type="button" id="submit" class="btn btn-info"><i class="icon-save"></i> 保  存</button>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/js/jquery.tmpl.min.js" type="text/javascript"></script>
<script type="text/html" id="grid">
    <tr>
        <td class="text-center paddingNone" width="20px">
            <label>
                <input type="checkbox" value="">
            </label>
        </td>
        <td class="hidden">${id}</td>
        <td>${name}</td>
        <td>${describe}</td>
    </tr>
</script>
<script type="text/javascript">
    var model={};
    $("#submit").click(function(){
        model.name=$("#rolename").val();
        model.describe=$("#describe").val();
        $.ajax({
            type: 'POST',
            dataType:'json',
            url: "__APP__/Home/Role/AddRole",
            data: model,
            success:function(data){
                model={};
                $("#myModal").modal("hide");
            }

        });
    });
    $("#find").click(function(){
        $("#roletable").html("");
        $.ajax({
            type:"GET",
            dataType:'json',
            url:"./SearchRole",
            success:function(data){
                $('#grid').tmpl(data).appendTo('#roletable');
            }
        });
    });
</script>